@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,700&display=swap');
 :root {
    --color-principal: #46a2a1;
    --blanco: #f1f1f1;
    --gris: #888;
    --gris-oscuro: #555;
    --negro: #1c2b2d;
    --bg-primary: #EDF1FD;
    --azul: #00b7c2;
    --morad: #9d65c9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--bg-primary);
}

html {
    font-size: 15px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}


/* custom scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--blanco);
}

::-webkit-scrollbar-thumb {
    background: var(--gris);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--gris-oscuro);
}

.main {
    width: 100%;
}

.snap-container {
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.snap-section {
    height: calc(100vh - 80px);
}


/*--------------------------------*/

.inicio {
    height: 100vh;
    background: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
}

.inicio .fas {
    position: absolute;
    color: #fff;
    font-size: 40px;
    top: 90%;
    left: calc(50% - 20px);
    animation: arrow 1s infinite linear;
}

@keyframes arrow {
    from {
        transform: none;
    }
    50% {
        transform: scale(1.1);
    }
    to {
        transform: none;
    }
}

.inicio::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}

.inicio__texto {
    position: relative;
    color: #fff;
    margin-left: 15%;
}

.inicio__texto h1 {
    user-select: none;
    font-size: 5.3rem;
    font-weight: 800;
    transition: .4s ease;
}

.inicio__texto h1 span {
    color: var(--color-principal);
}

.inicio__texto p {
    user-select: none;
    font-size: 2rem;
    font-weight: 300;
    margin: 10px 0 0 0;
}

.inicio__texto .cv {
    user-select: none;
    color: #fff;
    display: inline-block;
    margin: 20px 0;
    position: relative;
    transition: .5s ease;
    font-size: 1.13rem;
}

.inicio__texto .cv:hover::after {
    width: 100px;
}

.inicio__texto .cv:hover {
    transform: scale(1.1);
}

.cv::after {
    content: '';
    background: #fff;
    height: 1px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 110%;
    transition: .5s ease;
    transform: translateY(-50%);
}

.inicio__texto .fecha {
    user-select: none;
    position: absolute;
    left: -250px;
    transform: rotate(270deg);
    letter-spacing: 2px;
    opacity: 0.3;
    font-size: 1.33rem;
}


/*--------------HISTORIA--------------*/

.historia {
    width: 80%;
    margin: auto;
    min-height: 100vh;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
}

.historia__titulo {
    width: 100%;
    height: 20%;
}

.historia__titulo h2 {
    font-size: 3.3rem;
    text-align: center;
    margin-bottom: 60px;
}

.historia__contenido {
    width: 100%;
    height: 80%;
    display: flex;
}

.historia__contenido .texto {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 50px;
}

.historia__contenido .texto .curriculum {
    width: 150px;
}

.historia__contenido .texto .curriculum button {
    margin: 10px 0;
    width: 150px;
    padding: 10px 15px;
    background: var(--color-principal);
    outline: none;
    border: 2px solid var(--color-principal);
    color: var(--blanco);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    font-size: 1.1rem;
    transition: all .4s ease;
}

.historia__contenido .texto .curriculum:hover button {
    transform: scale(1.1);
    color: var(--color-principal);
    background: none;
}


/*-------------------*/

.historia__contenido .texto h2 {
    font-size: 3.3rem;
    text-align: center;
}

.historia__contenido .texto p {
    font-size: 1.2rem;
    text-align: justify;
    color: var(--negro);
}

.historia__contenido .sociales {
    width: 100%;
    display: flex;
    justify-content: center;
}

.historia__contenido .sociales a i {
    font-size: 40px;
    margin: 20px 10px;
}

.historia__contenido a:nth-child(1) .fab {
    color: #2e85e7;
}

.historia__contenido a:nth-child(2) .fab {
    color: #bc2a8d;
}

.historia__contenido a:nth-child(3) .fab {
    color: #3b5998;
}

.historia__contenido .imagen {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.historia__contenido .imagen img {
    width: 450px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
}


/*----------CONTACTO---------*/

.contact {
    width: 70%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact .title {
    font-size: 3.3rem;
    text-align: center;
    margin-bottom: 100px;
}

.contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: var(--azul);
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: #333;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
    border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-principal);
    background: var(--color-principal);
    color: #fff;
    outline: none;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 300;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    color: var(--color-principal);
    background: none;
}


/*----------FOOTER---------*/

.footer {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    text-align: center;
}

.footer a {
    color: var(--color-principal);
}


/*----------RESPONSIVE---------*/

@media(max-width: 1300px) {
    html {
        font-size: 13px;
    }
    .historia {
        padding: 30px 0;
    }
}

@media(max-width: 947px) {
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media(max-width: 750px) {
    html {
        font-size: 12px;
    }
    #fecha {
        display: none;
    }
    .contact .title {
        margin-bottom: 30px;
    }
    .historia__contenido {
        flex-direction: column;
    }
    .historia__contenido .imagen,
    .historia__contenido .texto {
        width: 100%;
    }
    .historia__contenido .texto {
        padding: 0;
    }
    .historia__contenido .texto h2,
    .contact .title {
        font-size: 2rem;
    }
    .historia__contenido .texto p {
        margin: 15px 0;
        font-size: 1.1rem;
    }
    .historia__contenido .sociales {
        display: none;
    }
    .historia__contenido .imagen {
        height: 400px;
        margin: 20px 0;
    }
    .historia__contenido .imagen img {
        width: 100%;
        height: 100%;
    }
    .contacto form {
        width: 400px;
    }
}

@media(max-width: 500px) {
    .contact .right form .fields {
        flex-direction: column;
    }
}

@media(max-width: 400px) {
    html {
        font-size: 11px;
    }
    .inicio__texto {
        margin-left: 5%;
    }
    .inicio__texto h1 {
        font-size: 4rem;
    }
    .historia__imagen {
        height: 30%;
    }
    .texto-img {
        justify-content: center;
    }
    .historia__texto {
        margin: 0;
    }
    .historia__texto h2 {
        font-size: 2.33rem;
        line-height: 30px;
    }
    .historia__texto p {
        text-align: start;
    }
}