@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,700&display=swap');
:root {
    --color-principal: #46a2a1;
    --bg-primary: #EDF1FD;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
html {
    font-size: 15px;
}
::-webkit-scrollbar {
    display: none;
}

.main {
    width: 100%;
}
.snap-container {
    overflow: auto;  
    scroll-snap-type: y mandatory; 
  }
  
.snap-section {
    height:calc(100vh - 80px);
}

/*--------------------------------*/

.inicio {
    height: 100vh;
    background: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
}
.inicio .fas {
    position: absolute;
    color: #fff;
    font-size: 40px;
    top: 90%;
    left: 50%;
    animation: arrow 1s infinite linear;
}
@keyframes arrow {
    from { transform: none; }
    50% { transform: scale(1.1); }
    to { transform: none; }
}

.inicio::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}
.inicio__texto {
    position: relative;
    color: #fff;
    margin-left: 15%;
}
.inicio__texto h1{
    user-select: none;
    font-size: 5.3rem;
    font-weight: 800;
    transition: .4s ease;
}
.inicio__texto h1 span{
    color: var(--color-principal);
}
.inicio__texto p{
    user-select: none;
    font-size: 2rem;
    font-weight: 300;
    margin: 10px 0 0 0;
}

.inicio__texto .cv {
    user-select: none;
    color: #fff;
    display: inline-block;
    margin: 20px 0;
    position: relative;
    transition: .5s ease;
    font-size: 1.13rem;
}
.inicio__texto .cv:hover::after {
    width: 100px;
}
.inicio__texto .cv:hover {
    transform: scale(1.1);
}

.cv::after {
content: '';
background: #fff;
height: 1px;
width: 60px;
position: absolute;
top: 50%;
left: 110%;
transition: .5s ease;
transform: translateY(-50%);
}
.inicio__texto .fecha {
    user-select: none;
    position: absolute;
    left: -250px;
    transform: rotate(270deg);
    letter-spacing: 2px;
    opacity: 0.3;
    font-size: 1.33rem;
}
/*--------------------------------*/

.historia {
    width: 100%;
    min-height: 100vh;
    padding: 80px 0;
    background: var(--bg-primary);
}
.texto-img {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
    flex-wrap: wrap;
}

.historia__imagen {
    height: 100%;
    display: flex;
    align-items: center;
}
 .historia__imagen img {
    width: 400px;
    height: 500px;
    object-fit: cover;
}
.historia__texto {
    max-width: 700px;
    height: 500px;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
}

.historia__texto h2 {
    font-size: 3.33rem;
    line-height: 60px;
}
.historia__texto h2 span {
    color: var(--color-principal);
}
.historia__texto p {
    margin: 20px 0;
    font-size: 1.33rem;
    text-align: justify;
}

.historia__texto ul {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.historia__texto ul .fab {
    font-size: 40px;
    margin: 0 20px;
transition: .5s ease;
}
.historia__texto ul .fab:hover {
    transform: scale(1.2);
}
.historia__texto ul li:nth-child(1) .fab{
    color: #0071bc;
}
.historia__texto ul li:nth-child(2) .fab{
    color: #DD2A7B;
}
.historia__texto ul li:nth-child(3) .fab{
    color: #25d366;
}
/*----------CONTACTO---------*/

.contacto {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto form {
    margin: 0 10px;
    width: 600px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
}
.contacto form h2 {
    font-size: 3rem;
    color: var(--color-principal);
}
.contacto form input,
.contacto form textarea {
    width: 80%;
    margin: 10px auto;
    padding: 10px 10px;
    border-radius: 5px;
    border: .5px solid #ccc;
    outline: none;
}
.contacto form textarea {
    height: 250px;
    resize: none;
}

.contacto button {
    border: none;
    outline: none;
    padding: 15px 20px;
    width: 150px;
    border-radius: 5px;
    color: white;
    font-weight: 300;
    background:#0071bc;
    transition: .4s ease;
}
.contacto button:hover{
    
    background: #40a9d3;
}

/*----------FOOTER---------*/
.footer {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    text-align: center;
}

.footer a {
    color: var(--color-principal);
}

/*----------RESPONSIVE---------*/

@media(max-width: 1300px) {
    html {
        font-size: 13px;
    }
    .texto-img {
        width: 90%;
    }
    .historia__imagen {
        height: 40%;
    }
    .historia__imagen img {
        width: 100%;
        height: 100%;
    }
}
@media(max-width: 750px) {
    html {
        font-size: 12px;
    }
    .historia__imagen {
        height: 40%;
    }
    .historia__imagen img {
        width: 100%;
        height: 100%;
    }
    .historia__texto {
        height: 400px;
    }
    .historia {
        padding: 40px 0;
}
.historia__texto ul {
    margin: 5px 0;
}

#fecha {
    display: none;
}
.contacto form {
    width: 400px;
}
}
@media(max-width: 400px) {
    html {
        font-size: 11px;
    }
    .inicio__texto {
        margin-left: 5%;
    }
    .inicio__texto h1{
        font-size: 4rem;
    }
    .historia__imagen {
        height: 30%;
    }
    .texto-img {
        justify-content: center;
    }
    .historia__texto {
        margin: 0;
    }
    .historia__texto h2 {
        font-size: 2.33rem;
        line-height: 30px;
    }
    .historia__texto p {
        text-align: start;
    }
}