@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,700&display=swap');
:root {
    --color-principal: #46a2a1;
    --blanco: #f1f1f1;
    --gris: #888;
    --gris-oscuro: #555;
    --negro: #1c2b2d;
    --bg-primary: #EDF1FD;
    --azul: #00b7c2;
    --morad: #9d65c9;
    --bg-dark: #2C2B30;
    --titulo: 5.3rem;
    --subtitulo: 3rem;
    --texto: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--bg-primary);
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-size: 15px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}


/* custom scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--blanco);
}

::-webkit-scrollbar-thumb {
    background: var(--gris);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--gris-oscuro);
}

.main {
    width: 100% !important;
    overflow: hidden;
}

.snap-container {
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.snap-section {
    height: calc(100vh - 80px);
}


/*--------------------------------*/

.inicio {
    width: 100%;
    min-height: 100vh;
    background: url('../images/bgindustrial.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
}

.inicio .fas {
    position: absolute;
    color: #fff;
    font-size: 40px;
    top: 90%;
    left: calc(50% - 20px);
    animation: arrow 1s infinite linear;
}

@keyframes arrow {
    from {
        transform: none;
    }
    50% {
        transform: scale(1.1);
    }
    to {
        transform: none;
    }
}

.inicio::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}

.inicio__texto {
    position: relative;
    color: var(--blanco);
    margin-left: 15%;
}

.inicio__texto h1 {
    user-select: none;
    font-size: var(--titulo);
    font-weight: 900;
    transition: .4s ease;
}

.inicio__texto h1 span {
    color: var(--color-principal);
}

.inicio__texto p {
    user-select: none;
    font-size: 2rem;
    font-weight: 300;
    margin: 10px 0 0 0;
}

.inicio__texto .cv {
    user-select: none;
    color: #fff;
    display: inline-block;
    margin: 20px 0;
    position: relative;
    transition: .5s ease;
    font-size: var(--texto);
}

.inicio__texto .cv:hover::after {
    width: 100px;
}

.inicio__texto .cv:hover {
    transform: scale(1.1);
}

.cv::after {
    content: '';
    background: var(--blanco);
    height: 1px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 110%;
    transition: .5s ease;
    transform: translateY(-50%);
}

.inicio__texto .fecha {
    user-select: none;
    position: absolute;
    left: -250px;
    transform: rotate(270deg);
    letter-spacing: 2px;
    opacity: 0.3;
    font-size: var(--texto);
}

.espacio {
    width: 100%;
    height: 80px;
}


/*--------------HISTORIA--------------*/

.historia {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.historia__titulo {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.historia__titulo h2 {
    margin-top: 50px;
    font-size: var(--subtitulo);
    font-weight: 900;
}

.historia__contenido {
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
}

.historia__contenido .imagen {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.historia__contenido .imagen img {
    width: 420px;
    height: 500px;
    border-radius: 5px;
    object-fit: cover;
    -webkit-box-shadow: -16px 20px 38px 0px rgba(0, 0, 0, 0.23);
    box-shadow: -16px 20px 38px 0px rgba(0, 0, 0, 0.23);
}

.historia__contenido .texto {
    width: 50%;
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.historia__contenido .texto h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.historia__contenido .texto p {
    font-size: var(--texto);
    font-weight: 300;
    margin-bottom: 20px;
    text-align: justify;
}

.historia__contenido .texto .curriculum {
    width: 150px;
}

.historia__contenido .texto .curriculum button {
    margin: 10px 0;
    width: 150px;
    padding: 10px 15px;
    background: var(--color-principal);
    outline: none;
    border: 2px solid var(--color-principal);
    color: var(--blanco);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    font-size: var(--texto);
    transition: all .4s ease;
}

.historia__contenido .texto .curriculum:hover button {
    transform: scale(1.1);
    color: var(--color-principal);
    background: none;
}


/*----------EXPERIENCIA PROFESIONAL---------*/

.experiencia {
    width: 80%;
    margin: auto;
}

.experiencia__contenido {
    min-height: 600px;
    background: black;
}

.experiencia__contenido .imagen {
    width: 60%;
    background: url('../images/imagen1.jfif');
}


/*----------EDUCACION---------*/

.educacion {
    width: 80%;
    margin: auto;
}

.container-fluid .row {
    padding: 0;
}

.container-fluid .row:nth-child(even) {
    background: #EDF1FD;
}

.example-title {
    text-align: center;
    margin-bottom: 20px;
    padding: 3em 0;
    border-bottom: 1px solid #E4EAEC;
}

.example-title h2 {
    font-size: var(--subtitulo);
}

.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.timeline h1,
.timeline h2,
.timeline h3,
.timeline h4,
.timeline h5,
.timeline h6 {
    line-height: inherit;
}

.timeline-item {
    padding-left: 40px;
    position: relative;
}

.timeline-item:last-child {
    padding-bottom: 0;
}

.timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
}

.timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
}

.timeline-marker::before {
    background: #FF6B6B;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 10px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.timeline-marker::after {
    content: "";
    width: 3px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px;
}

.timeline-item:last-child .timeline-marker:after {
    content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid #FF6B6B;
}

.timeline-content {
    padding-bottom: 40px;
}

.timeline-content p {
    margin-top: 5px;
    font-weight: 300;
    font-size: var(--texto);
}

.timeline-content p:last-child {
    margin-bottom: 0;
}

.period {
    padding: 0;
}

.period .timeline-info {
    display: none;
}

.period .timeline-marker::before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid #CCD5DB;
    border-bottom: 3px solid #CCD5DB;
}

.period .timeline-marker::after {
    content: "";
    height: 32px;
    top: auto;
}

.period .timeline-content {
    padding: 40px 0 70px;
}

.period .timeline-title {
    margin: 0;
}


/*----------EMPRESAS PASADAS---------*/

.trabajos {
    width: 80%;
    min-height: 850px;
    margin: auto;
}

.tarjetas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background: transparent;
}

.tarjetas .tarjeta {
    width: 500px;
    height: 250px;
    background: var(--blanco);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    margin: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    transition: .4s ease;
}

.tarjetas .tarjeta:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
    transition: .1s ease;
}

.tarjetas .tarjeta__imagen {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-primary);
    overflow: hidden;
}

.tarjetas .tarjeta__imagen img {
    transform: scale(.8);
}

.tarjetas .tarjeta__informacion {
    width: 50%;
    height: 100%;
    background: var(--bg-primary);
    color: var(--negro);
    padding: 10px 20px;
}

.tarjetas .tarjeta__informacion h3 {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    margin: 20px 0;
}

.tarjetas .tarjeta__informacion p {
    font-weight: 300;
    font-size: 1rem;
    margin: 10px 0;
}

.tarjetas .tarjeta__informacion p span {
    font-weight: 900;
    font-size: 1.1rem;
}


/*----------GALERIA DE PROYECTOS---------*/

.proyectos {
    width: 80%;
    height: 700px;
    margin: auto;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-wrapper .swiper-slide {
    position: relative;
}

.swiper-wrapper .swiper-slide:nth-child(1) {
    background: url('../images/galeria6.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-wrapper .swiper-slide:nth-child(2) {
    background: url('../images/galeria/galeria1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-wrapper .swiper-slide:nth-child(3) {
    background: url('../images/galeria/galeria2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-wrapper .swiper-slide:nth-child(4) {
    background: url('../images/galeria/galeria19.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-wrapper .swiper-slide:nth-child(5) {
    background: url('../images/galeria/galeria4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-wrapper .swiper-slide:nth-child(7) {
    background: url('../images/galeria/galeria5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-wrapper .swiper-slide:nth-child(8) {
    background: url('../images/galeria/galeria6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-wrapper .swiper-slide:nth-child(9) {
    background: url('../images/galeria/galeria7.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-wrapper .swiper-slide:nth-child(10) {
    background: url('../images/galeria/galeria8.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-wrapper .swiper-slide:nth-child(11) {
    background: url('../images/galeria/galeria9.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-wrapper .swiper-slide:nth-child(12) {
    background: url('../images/galeria/galeria10.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-wrapper .swiper-slide:nth-child(13) {
    background: url('../images/galeria/galeria11.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-wrapper .swiper-slide:nth-child(14) {
    background: url('../images/galeria/galeria12.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-wrapper .swiper-slide:nth-child(15) {
    background: url('../images/galeria/galeria13.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-wrapper .swiper-slide:nth-child(6) {
    background: url('../images/galeria/galeria14.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-wrapper .swiper-slide:nth-child(6) {
    background: url('../images/galeria/galeria15.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-container-wrapper {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--blanco);
}

.swiper-slide-duplicate,
.swiper-slide {
    text-align: center;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.swiper-slide-duplicate .description,
.swiper-slide-duplicate .title,
.swiper-slide .description,
.swiper-slide .title {
    display: block;
    opacity: 0;
    transition: 0.5s ease 0.5s;
}

.swiper-slide-duplicate-active .description,
.swiper-slide-duplicate-active .title,
.swiper-slide-active .description,
.swiper-slide-active .title {
    opacity: 1;
}

.swiper-slide-duplicate-active .title,
.swiper-slide-active .title {
    position: relative;
    margin-bottom: 0.5rem;
    font-size: var(--subtitulo);
    color: var(--blanco);
    transition: opacity 0.5s ease 0.5s;
}

.swiper-slide-duplicate-active .description,
.swiper-slide-active .description {
    padding: 0 10px;
    font-size: var(--texto);
    color: var(--blanco);
    position: relative;
    transition: opacity 0.5s ease 0.75s;
}

.gallery-top {
    width: 100%;
    height: 75vh;
}

.gallery-thumbs .swiper-wrapper {
    flex-direction: row;
}

.gallery-thumbs {
    width: 100%;
    height: 25vh;
    padding-top: 10px;
}

.gallery-thumbs .swiper-slide {
    width: 25%;
    flex-flow: row nowrap;
    height: 100%;
    opacity: 0.75;
    cursor: pointer;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.mini {
    color: var(--blanco);
    position: relative;
}


/*----------CONTACTO---------*/

.contact {
    width: 80%;
    min-height: 700px;
    margin: auto;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title {
    font-size: var(--subtitulo);
    font-weight: 900;
    text-align: center;
}

.contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: var(--azul);
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: #333;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: var(--texto);
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
    border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-principal);
    background: var(--color-principal);
    color: #fff;
    outline: none;
    font-size: var(--texto);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 300;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    color: var(--color-principal);
    background: none;
}


/*----------FOOTER---------*/

.footer {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    text-align: center;
}

.footer a {
    color: var(--color-principal);
}


/*----------RESPONSIVE---------*/

@media(max-width: 1300px) {
    html {
        font-size: 13px;
    }
    .historia {
        padding: 30px 0;
    }
}

@media(max-width: 947px) {
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
    .historia__contenido .imagen img {
        width: 370px;
        height: 450px;
    }
}

@media(max-width: 750px) {
    .tarjetas .tarjeta {
        width: 260px;
        height: 450px;
        flex-direction: column;
    }
    .tarjetas .tarjeta__imagen {
        width: 100% !important;
        height: 40% !important;
    }
    .tarjetas .tarjeta__informacion {
        height: 60% !important;
        width: 100% !important;
    }
    .swiper-slide-duplicate-active .title,
    .swiper-slide-active .title {
        font-size: 2rem;
    }
    .contact {
        margin-top: 150px;
    }
    html {
        font-size: 12px;
    }
    #fecha {
        display: none;
    }
    .example-title {
        padding: 1em 0 1em 0;
    }
    .contact .title {
        margin-bottom: 30px;
    }
    .historia__contenido {
        flex-direction: column;
    }
    .historia__contenido .imagen {
        width: 60%;
    }
    .historia__contenido .texto {
        width: 100%;
        padding: 0;
    }
    .historia__contenido .texto h2 {
        text-align: center;
    }
    .historia__contenido .texto p {
        margin: 10px 0;
    }
    .historia__contenido .sociales {
        display: none;
    }
    .historia__contenido .imagen {
        width: 300px;
        height: 300px;
        margin: 20px 0;
    }
    .historia__contenido .imagen img {
        width: 100%;
        height: 100%;
    }
    .contacto form {
        width: 400px;
    }
}

@media(max-width: 500px) {
    .contact .right form .fields {
        flex-direction: column;
    }
    .proyectos {
        width: 95%;
    }
}

@media(max-width: 400px) {
    html {
        font-size: 11px;
    }
    .inicio__texto {
        margin-left: 5%;
    }
    .inicio__texto h1 {
        font-size: 4rem;
    }
    .historia__imagen {
        height: 30%;
    }
    .texto-img {
        justify-content: center;
    }
    .historia__texto {
        margin: 0;
    }
    .historia__texto h2 {
        font-size: 2.33rem;
        line-height: 30px;
    }
    .historia__texto p {
        text-align: start;
    }
}

@media (min-width: 480px) {
    .gallery-top {
        width: 80%;
        height: 100%;
        margin-right: 10px;
    }
}

@media (min-width: 480px) {
    .gallery-thumbs {
        width: 20%;
        height: 100%;
        padding: 0;
    }
}

@media (min-width: 480px) {
    .swiper-container-wrapper {
        flex-flow: row nowrap;
    }
}

@media (min-width: 480px) {
    .gallery-thumbs .swiper-wrapper {
        flex-direction: column;
    }
}

@media (min-width: 480px) {
    .gallery-thumbs .swiper-slide {
        flex-flow: column nowrap;
        width: 100%;
    }
}

@media (min-width: 480px) {
    .swiper-container {
        min-height: 320px;
    }
}

@media (min-width: 768px) {
    .timeline-split .timeline,
    .timeline-centered .timeline {
        display: table;
    }
    .timeline-split .timeline-item,
    .timeline-centered .timeline-item {
        display: table-row;
        padding: 0;
    }
    .timeline-split .timeline-info,
    .timeline-centered .timeline-info,
    .timeline-split .timeline-marker,
    .timeline-centered .timeline-marker,
    .timeline-split .timeline-content,
    .timeline-centered .timeline-content,
    .timeline-split .period .timeline-info,
    .timeline-centered .period .timeline-info {
        display: table-cell;
        vertical-align: top;
    }
    .timeline-split .timeline-marker,
    .timeline-centered .timeline-marker {
        position: relative;
    }
    .timeline-split .timeline-content,
    .timeline-centered .timeline-content {
        padding-left: 30px;
    }
    .timeline-split .timeline-info,
    .timeline-centered .timeline-info {
        padding-right: 30px;
    }
    .timeline-split .period .timeline-title,
    .timeline-centered .period .timeline-title {
        position: relative;
        left: -45px;
    }
}


/*----------------------------------------------
  MOD: TIMELINE CENTERED
----------------------------------------------*/

@media (min-width: 992px) {
    .timeline-centered,
    .timeline-centered .timeline-item,
    .timeline-centered .timeline-info,
    .timeline-centered .timeline-marker,
    .timeline-centered .timeline-content {
        display: block;
        margin: 0;
        padding: 0;
    }
    .timeline-centered .timeline-item {
        padding-bottom: 40px;
        overflow: hidden;
    }
    .timeline-centered .timeline-marker {
        position: absolute;
        left: 50%;
        margin-left: -7.5px;
    }
    .timeline-centered .timeline-info,
    .timeline-centered .timeline-content {
        width: 50%;
    }
    .timeline-centered>.timeline-item:nth-child(odd) .timeline-info {
        float: left;
        text-align: right;
        padding-right: 30px;
    }
    .timeline-centered>.timeline-item:nth-child(odd) .timeline-content {
        float: right;
        text-align: left;
        padding-left: 30px;
    }
    .timeline-centered>.timeline-item:nth-child(even) .timeline-info {
        float: right;
        text-align: left;
        padding-left: 30px;
    }
    .timeline-centered>.timeline-item:nth-child(even) .timeline-content {
        float: left;
        text-align: right;
        padding-right: 30px;
    }
    .timeline-centered>.timeline-item.period .timeline-content {
        float: none;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .timeline-centered .timeline-item.period {
        padding: 50px 0 90px;
    }
    .timeline-centered .period .timeline-marker:after {
        height: 30px;
        bottom: 0;
        top: auto;
    }
    .timeline-centered .period .timeline-title {
        left: auto;
    }
}


/*----------------------------------------------
    MOD: MARKER OUTLINE
----------------------------------------------*/

.marker-outline .timeline-marker:before {
    background: transparent;
    border-color: #FF6B6B;
}

.marker-outline .timeline-item:hover .timeline-marker:before {
    background: #FF6B6B;
}