* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --color-principal: #46a2a1;
    --blanco: #f1f1f1;
    --gris: #888;
    --gris-oscuro: #555;
    --negro: #1c2b2d;
}

nav {
    user-select: none;
    display: flex;
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    flex-wrap: wrap;
    position: fixed;
    z-index: 10;
    transition: .5s ease;
}

nav.sticky {
    background: #fff;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.2);
}

nav.sticky ul li a {
    color: #000;
}

nav .logo {
    width: 60px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo a {
    font-size: 20px;
    color: #fff;
    border-bottom: 0.5px solid white;
    font-weight: 800;
}

nav.sticky .logo a {
    font-size: 20px;
    color: var(--color-principal);
    border-bottom: 0.5px solid var(--color-principal);
}

nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.activado,
nav ul li a:hover {
    color: var(--color-principal);
}

nav .menu-btn i {
    color: #000;
    font-size: 22px;
    cursor: pointer;
    display: none;
}


/*--------RESPONSIVE--------*/

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
    html {
        font-size: 13px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
        z-index: 999;
        position: relative;
        color: #fff;
    }
    .navbar .menu.active {
        left: 0;
    }
    .menu-btn {
        display: block;
        z-index: 999;
    }
    nav.sticky .menu-btn i {
        color: #000;
    }
    .menu-btn i.active:before {
        content: "\f00d";
        color: #000;
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #fff;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
        display: flex;
        flex-direction: column;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
        color: #000;
        font-weight: 300;
    }
}